body{
    background-color:dimgray;
}

h1{
    font-family:Garamond, serif;
    color:ghostwhite;
    text-align: center;
    font-size:24px;
}

p{
    font-family:serif;
    color:ghostwhite;
    font-size:16px; 
    }

a{
    color:skyblue;
    text-decoration: none;
}

div{
    align-content: center;
}

span{
    text-align: center;
}
