body{
    background-color:#565454;
}

h1{
    font-family:Times;
    color:ghostwhite;
}

p{
    font-family:sans-serif;
    color:ghostwhite;
    }

a{
    color:skyblue;
    text-decoration: none;
}
