body{
    background-color: #eeaeff;
}
background-color:#565454;

h1{
    font-family:Garamond;
    color:antiquewhite;
}

p{
    font-family:sans-serif;
    color:floralwhite;
    }

span{
    color:#aefcff;
    text-decoration: none;
}
